.country-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 26px 0px 26px;
  height: 60px;
}
.hr-line {
  border: 1px solid #334155;
  width: 100%;
}
.country-name {
  font-family: 'Roboto';
  font-size: 16px;
  color: #f8fafc;
  font-weight: 300;
}
.visit-button {
  background-color: #3b82f6;
  color: #f1f5f9;
  font-family: 'Roboto';
  border: none;
  border-radius: 6px;
  padding: 8px 26px 8px 26px;
  font-size: 16px;
}
.is-visited {
  background-color: transparent;
  color: #334155;
  padding: 8px 18px 8px 34px;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto';
}
